body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  background-color: #501b15;
  background-image: conic-gradient(
      from 330deg at 50% 60%,
      #8c8c8c 60deg,
      transparent 60deg
    ),
    conic-gradient(from 150deg at 50% 30%, #030504 60deg, transparent 60deg);
  background-size: 5rem 10rem;
  background-position: 0 0, 1.5rem -0.5rem;
}

img {
  display: block;
  padding: 25px;
  width: 30%;
}

h1 {
  font-size: 55px;
  color: #c9cbc8;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 2;
}

#countdown {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 45px;
  color: #c9cbc8;
  border-radius: 5px;
}
